In [1]:
123

123

In [2]:
type[123]

type[123]

In [3]:
type(123)

int

In [4]:
123.45

123.45

In [5]:
type(123.45)

float

In [7]:
type("1111")

str

In [8]:
print("Hello world!")

Hello world!

In [9]:
x=123
y=123.45
z="123.45"
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'str'>

In [11]:
z="The result of "+str(x)+"+"+str(y)+"="+str(x+y)
print(z)

The result of 123+123.45=246.45

In [12]:
z="I am from CUC."
print(z[0:4])
print(z[0:14])

I am
I am from CUC.

In [1]:
tupe1 = (1,1.32,2,"CUC")
list1 = [1,1.32,2,"CUC"]
myList=[1,2,3,5,4]
print(sorted(myList))

[1, 2, 3, 4, 5]

In [2]:
score_list = [100,95,85,60,65,70]
print(score_list)
print(score_list[3])
score_list.append(50)
print(score_list)

[100, 95, 85, 60, 65, 70]
60
[100, 95, 85, 60, 65, 70, 50]

In [3]:
del(score_list[6])
print(score_list[3:7])
print(score_list)

[60, 65, 70]
[100, 95, 85, 60, 65, 70]

In [4]:
score_list.append([1,2,3,'I an from CUC',True])
print(score_list)

[100, 95, 85, 60, 65, 70, [1, 2, 3, 'I an from CUC', True]]

In [5]:
second_list = [11,22,33]
second_list.append([44,55,66])
score_list.append(second_list)
print(score_list)

[100, 95, 85, 60, 65, 70, [1, 2, 3, 'I an from CUC', True], [11, 22, 33, [44, 55, 66]]]

In [6]:
score_list.remove(100)
print(score_list)

[95, 85, 60, 65, 70, [1, 2, 3, 'I an from CUC', True], [11, 22, 33, [44, 55, 66]]]

In [7]:
dict1 = {'Peter':80,'David':90,'Mary':100}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1['David'])
score_list = []
score_list.append(dict1)
print(score_list)

{'Peter': 80, 'David': 90, 'Mary': 100}
dict_keys(['Peter', 'David', 'Mary'])
dict_values([80, 90, 100])
90
[{'Peter': 80, 'David': 90, 'Mary': 100}]

In [8]:
test1 = {'Peter':50,'David':60,'Mary':70}
assignment1 = {'Peter':50,'David':70,'Mary':80}
score_list = []
score_list.append(test1)
score_list.append(assignment1)
print(score_list)

[{'Peter': 50, 'David': 60, 'Mary': 70}, {'Peter': 50, 'David': 70, 'Mary': 80}]

In [9]:
my_set={1,"Hello",(1,2,3)}
print(my_set)
print(type(my_set))

{1, (1, 2, 3), 'Hello'}
<class 'set'>

In [10]:
my_set = {1,2,2,3,4,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [12]:
i=1
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [14]:
hrs_list=[30,40,50,60]
rate_list=[65,75,65,75]
name_list=["John","Mike","Mary","Jane"]
fee_list=[]
for number in range(len(name_list)):
    hrs=hrs_list[number]
    rate=rate_list[number]
    fee=hrs*rate
    fee_list.append(fee)
    money_made=name_list[number]+"makes"+str(fee)+"."
    print(money_made)

Johnmakes1950.
Mikemakes3000.
Marymakes3250.
Janemakes4500.

In [15]:
money_list=[]
money_list.append(name_list)
money_list.append(fee_list)
print(money_list)

[['John', 'Mike', 'Mary', 'Jane'], [1950, 3000, 3250, 4500]]

In [16]:
my_list=["red","green","blue","orange","black"]
index=0
for i in my_list:
    if i=="blue":
        print(index,"Blue is printed.")
        index+=1
    else:
        print(index,my_list[index])
        index=index+1
print("This is done.")

0 red
1 green
2 Blue is printed.
3 orange
4 black
This is done.

In [ ]:
import pandas as pd
df1=pd.Daqtaframe({
    #Define dateframe as a dictionary abject
    "Product ID":[1,2,3,4],
    #Add product name and color
    "Product Name":["T-shirt","Shirt","Jeans","Coat"],
    "Color":["BLue","Green","Red","Trench"],
    "Unit sold":[250,300,180,200]
})
print(df1)